* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: quantico, sans-serif; /* Use the Quantico font for the body */
  font-weight: 400;
  font-style: normal;
  background-color: hsl(228, 58%, 8%);
  color: aliceblue;
  text-align: center;
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
}

/* font styles */
.bungee-shade-regular {
  font-family: 'Bungee Shade', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quantico-regular {
  font-family: 'Quantico', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quantico-bold {
  font-family: 'Quantico', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quantico-regular-italic {
  font-family: 'Quantico', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.quantico-bold-italic {
  font-family: 'Quantico', sans-serif;
  font-weight: 700;
  font-style: italic;
}

h1 {
  font-family: 'Bungee Shade', sans-serif; /* Use the Bungee Shade font for the heading */
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
  font-size: 2.5rem;
}

h2 {
  line-height: 1.5em;
  font-weight: 400;
  font-size: 1em;
}

.container {
  background: hsl(227, 12%, 22%);
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.4rem;
}

.description {
  margin-bottom: 30px;
  font-size: 1.125rem;
}

.result-label {
  margin-bottom: 5px;
  margin-top: 1.5em;
  font-weight: 400;
}

.result-value {
  font-size: 3em;
  font-weight: bold;
}

.dice-selection button {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 4px;
  justify-content: center;
  background-color: #4845ff;
  border: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  display: inline-block;

  width: 50%;
  padding: 1rem;
  margin: 1rem;

  background-color: transparent;
  color: white; /* text colour */

  font-family: 'quantico', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;

  border: solid 2px;
  border-radius: 0.5rem;
  border-image: white;
}

/* Hover effect */
button:hover {
  background-color: hsl(228, 58%, 38%);
}

img {
  width: 48px;
  border-radius: 0.2rem;
}

a {
  text-decoration: none;
}

.result {
  font-size: 1.5rem;
}

.dice-options {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Space between buttons */
  justify-content: center; /* Center the buttons horizontally */
  margin: 15px 0;
}

.dice-options button {
  padding: 10px 15px;
  border-radius: 5px;
  font-family: 'Quantico', sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: hsl(227, 54%, 50%);
  color: white; /* text colour */
  border-radius: 0.5rem;
}

/* Hover effect */
.dice-options button:hover {
  background-color: hsl(228, 58%, 38%);
}

/* Selected button style */
.dice-options button.selected {
  background-color: hsl(228, 58%, 38%);
  color: white;
  border: solid 2px;
  border-image: white;
}
